<html>

<head>
    <title>ListMeal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-primary">
        <div style="background-color: #18196d" class="hero-body">
            <div class="container">
                <a href="{{ url_for('index')}}">
                    <h1 class="title">
                        ListMeal
                    </h1>
                </a>
                <h2 class="subtitle">
                    
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        {% block section %}
        {% endblock %}
    </section>
</body>

</html>