{% extends 'base.html' %}
{% block section %}
<div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
        <div>
            <h2 class="title">Salve da ListMeal</h2>
            <p>opzioni:</p>
        </div>
        <div style="margin: 10pt">
            <a href="{{ url_for('calendar')}}">
                <button class="button is-link">i miei pasti</button>
            </a>
        </div>
        <div style="margin: 10pt">
            <a href="{{ url_for('add_meal')}}">
                <button class="button is-link">programma un pasto</button>
            </a>
        </div>
        <div style="margin: 10pt">
            <a href="{{ url_for('recipe_catalogue')}}">
                <button class="button is-link">le mie ricette</button>
            </a>
        </div>
        <div style="margin: 10pt">
            <a href="{{ url_for('add_recipe')}}">
                <button class="button is-link">aggiungi una ricetta</button>
            </a>
        </div>
        <div style="margin: 10pt">
            <a href="{{ url_for('shopping_list')}}">
                <button class="button is-link">la mia lista della spesa</button>
            </a>
        </div>
        <div style="margin: 10pt">
            <a href="{{ url_for('index')}}">
                <button class="button is-link">aggiorna la mia dispensa</button>
            </a>
        </div>

    </div>
    <div class="column">
    </div>
</div>
{% endblock %}