{% extends 'base.html' %}
{% block section %}
<div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
        <div>
            <h2 class="title">Catalogo delle ricette</h2>
            <p>  </p>
        </div>

        {% for category in catalogue_data %}
        
        <div style="margin: 10pt">
            <label class="label">{{ dictionary[category] }}:</label>
                {% for recipe in catalogue_data[category] %}
                    <div>
                        <div>
                            <a style="color: #000000; font-weight: 700;" href="/recipe/{{category}}/{{recipe["name"]}}" 
                                <b>{{recipe["name"]}}</b> 
                            </a>
                            ({{recipe["typology"]}}, {{recipe["difficulty"]}})
                            <a href="/remove/appetizer/{{recipe["name"]}}">
                                <button class="delete"></button>
                            </a>
                        </div>
                        {% for ingredient in recipe["ingredients"] %}
                        <div>- {{ingredient["name"]}}: {{ingredient["amount"]}} {{ingredient["unit"]}}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
        </div>

        {% endfor %}

        <div style="margin: 10pt">
            <a href="{{ url_for('add_recipe')}}">
                <button class="button is-link">aggiungi una ricetta</button>
            </a>
        </div>
    </div>
    <div class="column">
    </div>
</div>
{% endblock %}